---
import Layout from "../partials/layout.astro";
import Card from "../parts/card.astro";

const { page, posts, content, mainFeed } = Astro.props.data;

const feedClasses = ["feed"];

if (mainFeed) {
	if (page.currentPage % 2 == 0) {
		feedClasses.push("even");
	} else {
		feedClasses.push("odd");
	}
}
---

<style lang="scss"></style>

<Layout content={content}>
	<slot />
	<div>
		<ul class={feedClasses.join(" ")}>
			{
				posts.map((post) => (
					<li>
						<Card data={{ ...post.frontmatter, ...post }} />
					</li>
				))
			}
		</ul>
	</div>
</Layout>
